name: Build GDE GoZen

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Version'
        type: string
        default: '9.0'

run-name: 'Build GDE GoZen: v${{ inputs.version }}'

jobs:
  build-container: # Arch Linux container.
    name: ${{ matrix.platform }} (${{ matrix.arch }})
    runs-on: ubuntu-latest
    container:
      image: archlinux:latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: windows
            arch: x86_64
            extra_packages: mingw-w64 wine ninja fakeroot debugedit

    env:
      ANDROID_SDK_ROOT: /opt/android-sdk
      ANDROID_HOME: /opt/android-sdk
      NDK_VERSION: '23.2.8568313'
      ANDROID_BUILD_TOOLS: '34.0.0'
      ANDROID_PLATFORM: '34'
      JAVA_HOME: /usr/lib/jvm/java-17-openjdk

    steps:
      - name: Install Base Dependencies
        run: |
          pacman-key --init
          pacman-key --populate archlinux
          pacman -Syu --noconfirm git sudo bash yasm python python-pip scons gcc diffutils make wget tar ffmpeg unzip fontconfig libx11 libxcursor libxrandr libxi alsa-lib vulkan-icd-loader ${{ matrix.extra_packages }}

     
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Compile
        uses: ./.github/actions/compile-core
        with:
          platform: ${{ matrix.platform }}
          arch: ${{ matrix.arch }}


  package-addon:
    needs: [build-container]
    runs-on: ubuntu-22.04
    name: Package & Release
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Download all artifacts
        uses: actions/download-artifact@v4
        with:
          path: artifacts

      - name: Organize & finalize
        run: |
          VERSION="v${{ inputs.version }}"

          mkdir -p test_room/addons/gde_gozen/bin
          mkdir -p test_room_csharp/addons/gde_gozen/bin
          # Windows.
          cp -r artifacts/bin_windows_x86_64/* test_room/addons/gde_gozen/bin/
          # Windows (C#).
          cp -r artifacts/bin_windows_x86_64_csharp/* test_room_csharp/addons/gde_gozen/bin/

          # Copy license and config.
          cp LICENSE test_room/addons/gde_gozen/
          cp LICENSE test_room_csharp/addons/gde_gozen/
          sed -i 's/^version="[^"]*"/version="'$VERSION'"/' test_room/addons/gde_gozen/plugin.cfg
          sed -i 's/^version="[^"]*"/version="'$VERSION'"/' test_room_csharp/addons/gde_gozen/plugin.cfg

      - name: Upload artifact (GDScript)
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_v${{ inputs.version }}
          path: test_room/addons/
          retention-days: 7

      - name: Upload artifact (C#)
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_v${{ inputs.version }}_csharp
          path: test_room_csharp/addons/
          retention-days: 7

      - name: Upload artifact (GDScript Test Room)
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_test_room_v${{ inputs.version }}
          path: test_room/
          retention-days: 7

      - name: Upload artifact (C# Test Room)
        uses: actions/upload-artifact@v4
        with:
          name: GDE_GoZen_test_room_v${{ inputs.version }}_csharp
          path: test_room_csharp/
          retention-days: 7
